body {}

#title {
  background-color: #FF4C68;
  /* font-family: 'Ubuntu', sans-serif; */
  color: white;
}

.iphone-img {
  position: relative;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bolder;
}

h2 {
  font-family: "Montserrat";
  font-size: 3rem;
  font-weight: 100;
}

.container-fluid {
  padding: 3% 15%;
}

.navbar {
  padding-bottom: 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
}

.download-button {
  margin: 5% 3% 5% 0%;
}

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  /* z-index: -1; */
  right: 30%;
}

.adv-img {
  color: #EF8172;
  margin-bottom: 1rem;
  /* position: relative; */
  /* margin: auto; */
}

.adv-head {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-weight: normal;
}

p {
  color: #8f8f8f;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}

#features {
  padding: 7% 15%;
  /* padding: 7%; */
  background-color: white;
  position: relative;
  z-index: 1;
}

.adv-img:hover {
  color: #ff4c68;
}

.feature-box {
  text-align: center;
  padding: 4.5%
}

#testimonials {
  text-align: center;
  background-color: #FF4C68;
  color: #fff;
}

.testimonial-img {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  text-align: center;
  background-color: #FF4C68;
  padding-bottom: 3%;
}

#pricing {
  padding: 100px;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.carousel-item {
  padding: 7% 15%;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    transform: 0;
    position: static;
  }
}

#cta {
  background-color: #FF4C68;
  text-align: center;
  padding: 7% 15%;
}

.cta-h3 {
  font-family: Montserrat;
  color: #fff;
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bolder;
}

.footer-img {
  color: #6c757d;
}
